@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    font-family: "Bellefair", sans-serif;
    text-transform: uppercase;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}